body {
  cursor: default;
  font: small arial, sans-serif;
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  overflow-x: hidden;
  background-position: center;
  background-image: url("../pics/bookshelf.jpg");
  background-attachment: fixed;
}

#title {
  width: 100%;
  color: #000;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  color: #dce1e5;
  font-size: 36px;
  font-weight: bold;
  font-family: "Times New Roman";
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-color: rgba(0, 0, 0, 0.9);
  border-bottom-width: 5px;
  border-bottom-style: solid;
  position: fixed;
  top: 0;
}

#logo {
  width: 48px;
  height: 48px;
  background: url("../pics/book.png") no-repeat scroll center;
}

.searchbar {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: rgba(238, 238, 238, 0.5) url("../pics/search.png") no-repeat scroll 0% 50%;
  font-size: 25px;
  text-align: -webkit-center;
  border-width: 0px;
}

.searchbar:hover {
  background-color: rgba(238, 238, 238, 0.9);
}

*:focus {
  outline: none;
}

.clicky {
  background: rgba(238, 238, 238, 0.9) url("../pics/book.png") no-repeat scroll 5% 50%;
}

.clicky, .createme {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  font-size: 30px;
  text-align: -webkit-center;
  text-decoration: none;
  color: #4c4444;
  height: 50px;
  border-width: 0px;
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.9)
}

.clicky:hover, .createme:hover {
  background-color: rgba(238, 238, 238, 0.5);
}

.clicky:active, .createme:active {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.grid-container {
  display: grid;
  grid-gap: 10px 10px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  grid-template-columns: auto auto auto auto;
}